.box{
    background-color: red;

}

.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 2px;
    row-gap: 2px;

}

@media (min-width: 600px){
    body{
    background-color: green;
    }
}