body{
    margin: 0px;
    padding: 0px;
}

.shell{
    position: relative;
    margin: 50px;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: flex;
}

.toprightbig{
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: lightblue;
    right: -1px;
    top: -1px;
    border: 1px solid black;
}

.topleft{
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: lightgreen;
    border: 1px solid black;
    left: -1px;
    top: -1px;
}

.bottom{
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: orange;
    bottom: 0px;
    border: 1px solid black;
    left: -1px;
}

.toprightsmall{
    position: absolute;
    top: -1px;
    right: 0px;
    background-color: black;
    height: 35px;
    width: 35px;
}

.bottomleft{
    position: absolute;
    height: 250px;
    width: 250px;
    bottom: 0px;
    left: 0px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.center{
    height: 75px;
    width: 75px;
    background-color: orange;
    border: 1px solid black;
}