.task{
    background-color: aquamarine;
    display:flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2px;
    border-radius: 15px;
}

.icon{
    font-size: 25px;
}

.icon:hover{
    cursor: pointer;
}